<!DOCTYPE html>

<html>
  <head>
    <title>Plate Landing</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css') }}"
    />
  </head>
  <body class="is-preload">
    <main id="content">
      <div class="one">
        <header id="header">
          <h1>Plate</h1>
          <h2 class="landingtext">you already work hard</h2>
          <h2>work smart.</h2>
        </header>
        <!-- Signup Form -->
        <form id="signup-form" method="post" action="#">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email Address"
          />
          <input type="submit" value="Pre-order for IOS" />
        </form>
        <img
          src="{{url_for('static', filename='images/Works_With_Apple_Health.png')}}"
          alt="Works_With_Apple_Health"
          width="160px"
        />
      </div>

      <img
        src="{{url_for('static', filename='images/Apple iPhone 11 Pro Count.png')}}"
        alt="iphoneMockUpCounter"
        class="responsive two"
      />
      <img
        src="{{url_for('static', filename='images/Apple iPhone 11 Pro Track.png')}}"
        alt="iphoneMockUpCounter"
        class="responsive four"
      />
      <div class="five">
        <h1>ditch the spreadsheet.</h1>
        <h2 class="landingtext">
          Plate automatically keeps track of what you do.
        </h2>
      </div>
    </main>

    <!-- Footer -->
    <myFooter id="footer">
      <ul class="icons">
        <!-- <li>
			<a href="#" class="icon brands fa-twitter"
			  ><span class="label">Twitter</span></a
			>
		  </li>
		  <li>
			<a href="#" class="icon brands fa-instagram"
			  ><span class="label">Instagram</span></a
			>
		  </li>
		  <li>
			<a href="#" class="icon brands fa-github"
			  ><span class="label">GitHub</span></a
			>
		  </li> -->
        <li>
          <a href="#" class="icon fa-envelope"
            ><span class="label">Email</span></a
          >
        </li>
      </ul>
      <ul class="copyright">
        <li>&copy; COROS Technology Company.</li>
        <li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </myFooter>

    <!-- Scripts -->
    <script src="static/js/main.js"></script>
  </body>
</html>
